@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
}
#root {
  padding: 1rem 2rem;
}
html, body{
  height: 100%;
  width: 100%;
}
/* body{
} */
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
} */

/* Login Page */
#loginContainer{
  width: 60%;
}
#loginBox{
  width: 50%;
  text-align: center;
}
#instaImg{
  height: 100%;
  object-fit: cover;
}
/* #loginBtn{
  background-color: #4CB5F9;
} */

/* Profile Page */
.container{
  /* padding-top: 1rem; */
  scroll-behavior: smooth;
  /* background-color: lightseagreen; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#topBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px 0px 15px;
}
#topImg img{
  width: 60%;
  height: 50%;
  object-fit: cover;
  cursor: pointer;
}
#topIcons i{
  font-size: 22px;
  margin: 0px 10px;
  cursor: pointer;
}
#postAuth{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 0.8rem;
}
#postLeft{
  display: flex;
  align-items: center;
  justify-content: center;
}
.userImg{
  height: 35px;
  width: 35px;
  /* background: linear-gradient(rgb(255, 174, 0), orange, rgb(255, 32, 69), purple, blue); */
  background: rgb(53, 52, 52);
  padding: 1px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.userImg img{
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.userName{
  padding-left: 6px;
  padding-bottom: 4px;
}
.userName h2{
  font-size: 14px;
  text-transform: lowercase;
}
#postRight i{
  font-size: 24px;
  cursor: pointer;
}
#card{
  position: relative;
  height: 540px;
  width: 350px;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid black;
  overflow: hidden;
}
#main-story{
  /* height: 100px; */
  width: 100%;
  padding: 4px 15px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
#main-story::-webkit-scrollbar{
  display: none;
}
.story{
  height: 70px;
  width: 70px;
  background: linear-gradient(rgb(255, 174, 0), orange, rgb(255, 32, 69), purple, blue);
  padding: 2.6px;
  margin-right: 12px;
  border-radius: 50%;
  display: inline-block;
}
.story:nth-last-child(1){
  margin-right: 0px;
}
.story img{
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
#fullScreen{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  transform: scale(0);
  transition: all ease 0.5s;
  z-index: 20;
}
#main-posts{
  height: calc(100% - 180px);
  /* height: 320px; */
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
#main-posts::-webkit-scrollbar{
  display: none;
}
.post{
  position: relative;
  height: 70%;
}
.post img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  /* border-radius: 6px; */
  /* box-shadow: 0px 0px 4px black; */
  z-index: 10;
  cursor: pointer;
}
.post i{
  color: red;
  font-size: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0.8;
  transition: all ease 0.4s;
  text-shadow: 0px 0px 6px red;
}
.icons{
  padding: 8px 0.6rem 2px 0.6rem;
}
.icons i{
  color: black;
  margin-right: 10px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}
.icons #heart{
  color: red;
}
.feeds{
  margin-right: 20px;
  padding: 0rem 0.8rem;
}
.feeds h5{
  color: black;
  font-size: 13px;
  font-weight: 600;
}
.feeds p{
  /* padding-top: 6px; */
  color: black;
  font-size: 12px;
  text-transform: capitalize;
  letter-spacing: 0.8px;
  text-wrap: wrap;
  margin-bottom: 20px;
}
#bottomBar{
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 4px;
}
#bottomBar i{
  font-size: 24px;
  cursor: pointer;
}




/* search page */
#searchBar{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 10px ;
  padding: 4px;
  border-radius: 50px;
  border: 1px solid black;
}
#searchBar input, #searchBar i{
  margin-left: 10px;
  outline: none;
}
#searchContainer{
  height: 440px;
  /* height: calc(100% - 400px); */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: none;
  scroll-behavior: smooth;
}
#searchContainer::-webkit-scrollbar{
  display: none;
}
.searchTab{
  height: 113px;
  width: 113px;
}
.searchTab img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* reels page */
#reelContainer{
  height: 440px;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: none;
  scroll-behavior: smooth;
}
#reelContainer::-webkit-scrollbar{
  display: none;
}
.reelTab{
  /* height: 440px; */
  /* width: 113px; */
}
.reelTab img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}