@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
}
#root {
  padding: 1rem 2rem;
}
html, body{
  height: 100%;
  width: 100%;
}
/* body{
} */
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
} */

/* Login Page */
#loginContainer{
  width: 60%;
}
#loginBox{
  width: 50%;
  text-align: center;
}
#instaImg{
  height: 100%;
  object-fit: cover;
}
/* #loginBtn{
  background-color: #4CB5F9;
} */

/* Profile Page */
.container{
  /* padding-top: 1rem; */
  scroll-behavior: smooth;
  /* background-color: lightseagreen; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#storyFullView{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* border: 2px solid red; */
}
#storyViewDp{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.445);
  overflow: hidden;
}
#storyViewDp img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
#storySearchBar{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 10px ;
  padding: 4px;
  border-radius: 10px;
  color: black;
}
#storySearchBar input{
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 6px 10px;
  border-radius: 50px;
  font-size: 12px;
  width: 100%;
  color: white;
}
#storySearchBar input::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}
#storySearchBar i{
  margin-left: 10px;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}
#topBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px 0px 15px;
}
#topReelBar, #topNotificationBar{
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 15px;
}
#topSearchViewBar{
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 15px;
  background-color: white;
  color: black;
}
#topImg img{
  width: 60%;
  height: 50%;
  object-fit: cover;
  cursor: pointer;
}
#topIcons i{
  font-size: 22px;
  margin: 0px 10px;
  cursor: pointer;
}
#topIcons{
  position: relative;
}
#homeNotfIcon{
  position: absolute;
  height: 12px;
  width: 12px;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  top: 1px;
  right: 47px;
  border-radius: 50%;
  font-size: 9px;
}
#homeMsgIcon{
  position: absolute;
  height: 12px;
  width: 12px;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: white;
  top: 1px;
  right: 8px;
  border-radius: 50%;
  font-size: 9px;
}
#postAuth{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 0.8rem;
}
#postLeft{
  display: flex;
  align-items: center;
  justify-content: center;
}
.userImg{
  height: 35px;
  width: 35px;
  /* background: linear-gradient(rgb(255, 174, 0), orange, rgb(255, 32, 69), purple, blue); */
  background: rgb(53, 52, 52);
  padding: 1px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.userImg img{
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.userName{
  padding-left: 6px;
  padding-bottom: 4px;
}
.userName h2{
  font-size: 14px;
  text-transform: lowercase;
}
#postRight i{
  font-size: 24px;
  cursor: pointer;
}
#card{
  position: relative;
  height: 540px;
  width: 350px;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid black;
  overflow: hidden;
}
#main-story{
  /* height: 100px; */
  width: 100%;
  padding: 4px 15px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
#main-story::-webkit-scrollbar{
  display: none;
}
.userStory{
  position: relative;
  height: 70px;
  width: 70px;
  /* background: linear-gradient(rgb(255, 174, 0), orange, rgb(255, 32, 69), purple, blue); */
  /* padding: 2.6px; */
  margin-right: 12px;
  border-radius: 50%;
  display: inline-block;
}
.userStory img{
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
#bluePlusIcon{
  position: absolute;
  height: 18px;
  width: 18px;
  background-color: #0fa0fd;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid white;
  bottom: 0;
  left: 50px;
}
.story{
  height: 70px;
  width: 70px;
  background: linear-gradient(rgb(255, 174, 0), orange, rgb(255, 32, 69), purple, blue);
  padding: 2.6px;
  margin-right: 12px;
  border-radius: 50%;
  display: inline-block;
}
.story:nth-last-child(1){
  margin-right: 0px;
}
.story img{
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
#fullScreen{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(0);
  transition: all ease 0.5s;
  z-index: 20;
}
#main-posts{
  height: calc(100% - 192px);
  /* height: 320px; */
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
#main-posts::-webkit-scrollbar{
  display: none;
}
.post{
  position: relative;
  height: 70%;
}
.post img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  /* border-radius: 6px; */
  /* box-shadow: 0px 0px 4px black; */
  z-index: 10;
  cursor: pointer;
}
.post i{
  color: red;
  font-size: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0.8;
  transition: all ease 0.4s;
  text-shadow: 0px 0px 6px red;
}
.icons{
  padding: 8px 0.6rem 2px 0.6rem;
}
.icons i{
  color: black;
  margin-right: 10px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}
.icons #heart{
  color: red;
}
.feeds{
  margin-right: 20px;
  padding: 0rem 0.8rem;
}
.feeds h5{
  color: black;
  font-size: 13px;
  font-weight: 600;
}
.feeds p{
  /* padding-top: 6px; */
  color: black;
  font-size: 12px;
  text-transform: capitalize;
  letter-spacing: 0.8px;
  text-wrap: wrap;
  margin-bottom: 20px;
}
#bottomBar{
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 4px 0px;
}
#bottomBar i{
  font-size: 24px;
  cursor: pointer;
}




/* search page */
#searchBar{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 10px ;
  padding: 4px;
  /* border-radius: 50px; */
  border-radius: 10px;
  /* border: 1px solid black; */
}
#searchBar input, #searchBar i{
  margin-left: 10px;
  outline: none;
}
#searchContainer{
  /* height: 437px; */
  height: calc(100% - 97px);
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3.5px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: none;
  scroll-behavior: smooth;
}
#searchContainer::-webkit-scrollbar{
  display: none;
}
.searchTab{
  height: 113px;
  width: 113px;
}
.searchTab img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* reels page */
#reelContainer{
  /* height: 443px; */
  height: calc(100% - 93px);
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: none;
  scroll-behavior: smooth;
}
#reelContainer::-webkit-scrollbar{
  display: none;
}
.reelsImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reelsImg{
  position: relative;
  height: 100%;
}





#userContainer{
  /* height: 232px; */
  height: calc(100% - 305px);
  width: 100%;
  display: flex;
  align-items:center;
  flex-wrap: wrap;
  gap: 3.5px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: none;
  scroll-behavior: smooth;
  padding: 2px 0px;
}
#userContainer::-webkit-scrollbar{
  display: none;
}
.userTab{
  height: 113px;
  width: 113px;
}
.userTab img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



#msgBar{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 10px ;
  padding: 4px;
  border-radius: 10px;
  color: black;
}
#msgBar input, #msgBar i{
  margin-left: 10px;
  outline: none;
}

#msgStory{
  position: relative;
  /* height: 100px; */
  width: 100%;
  padding: 4px 15px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}
#msgStory::-webkit-scrollbar{
  display: none;
}
.msgStories{
  height: 70px;
  width: 70px;
  padding: 2.6px;
  margin-right: 12px;
  border-radius: 50%;
  display: inline-block;
}
.msgStories:nth-last-child(1){
  margin-right: 0px;
}
.msgStories img{
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.activeStatus{
  position: absolute;
  top: 55px;
}
.msgText{
  text-align: center;
  font-size: 10px;
}
.contactMembers{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contactImg{
  height: 50px;
  width: 50px;
}
.contactImg img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50px;
}
#main-message{
  height: calc(100% - 208px);
  /* height: 328px; */
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: none;
  scroll-behavior: smooth;
}
#main-message::-webkit-scrollbar{
  display: none;
}



#msgTopBarDp{
  width: 40px;
  height: 40px;
  margin: 0px 10px;
}
#msgTopBarDp img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
.contactIcon img{
  padding: 0px 10px;
  height: 3%;
  width: 32%;
  object-fit: cover;
}
#msgMiddleBar{
  /* height: 410px; */
  height: calc(100% - 130px);
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: none;
  scroll-behavior: smooth;
}
#msgMiddleBar::-webkit-scrollbar{
  display: none;
}

#msgContactBar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px ;
  padding: 6px;
  border-radius: 50px;
  color: black;
}
#msgContactBar input{
  margin-left: 4px;
  outline: none;
}
.contactIcon2 img{
  padding: 0px 6px;
  height: 30%;
  width: 30%;
  object-fit: cover;
}

#msgCenterDp{
  height: 100px;
  width: 100px;
}
#msgCenterDp img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#addContainer{
  /* height: 440px; */
  height: calc(100% - 96px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 800;
  color: red;
}
#notificationContainer{
  /* height: 440px; */
  height: calc(100% - 93px);
  padding: 8px;
}
.notificationImg{
  position: relative;
  height: 50px;
  width: 50px;
}
.notificationImg img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
#redDot{
  position: absolute;
  top: 6px;
  right: -3px;
  height: 16px;
  width: 16px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
  border-radius: 50%;
}
#imgOverImg{
  position: absolute;
  top: 10px;
  right: -10px;
  height: 50px;
  width: 50px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
  border-radius: 50%;
  border: 2px solid white;
}
#reelOver{
  position: absolute;
  color: white;
  /* top: 210px; */
  top: calc(100% - 230px);
  width: 346px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* border: 2px solid white; */
}
#reelLeftImg{
  height: 24px;
  width: 24px;
  border-radius: 50px;
  overflow: hidden;
}
#reelLeftImg img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#reelBtn{
  border: 1px solid white;
  padding: 1px 6px;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 14px;
}
#reelRightIcon i{
  font-size: 24px;
}
#reelRightIcon p{
  font-size: 10px;
  font-weight: 500;
}
#reelRightImg{
  height: 24px;
  width: 24px;
  border: 2px solid white;
  border-radius: 6px;
  overflow: hidden;
}
#reelRightImg img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


#searchImgView{
  color: white;
  /* height: 535px; */
  height: calc(100% - 50px);
  /* height: calc(100% - 40px); */
  width: 346px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* border: 2px solid white; */
}
#searchLeftImg{
  height: 24px;
  width: 24px;
  border-radius: 50px;
  overflow: hidden;
}
#searchLeftImg img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#searchViewBtn{
  border: 1px solid white;
  padding: 1px 6px;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 14px;
}
#searchRightIcon i{
  font-size: 24px;
}
#searchRightIcon p{
  font-size: 10px;
  font-weight: 500;
}

#bottomLastProfile{
  height: 24px;
  width: 24px;
  border-radius: 50%;
  /* border: 1px solid white; */
  overflow: hidden;
}
#bottomLastProfile img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#searchPreviewfullScreen{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* transform: scale(0); */
  transition: all ease 0.5s;
  z-index: 20;
}