@media screen and (max-width:500px) {   
    #root {
        padding: 2rem;
      } 
    #card{
        height: 80vh;
    }
    .container{
        padding-top: 1rem;
    }
    #loginContainer{
      width: 90%;
    }
    #loginBox{
      width: 100%;
      margin-top: 3rem;
      text-align: center;
    }
    #instaImg{
      display: none;
    }
    #searchContainer{
      height: 570px;
    }
    #reelContainer{
      height: 570px;
    }
    #userContainer{
      height: 360px;
    }
    #main-message{
      height: 440px;
      padding-top: 2rem;
    }
    #msgMiddleBar{
      height: 540px;
    }
    .contactIcon2 img{
      padding: 0px 6px;
      height: 25px;
      width: 40px;
    }
    #cameraIconId{
      width: 3rem;
    }
    #msgContactBar{
      padding: 10px;
    }
    #addContainer{
      height: 570px;
    }
}